<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | AT&T VLAD:MIR</title>

<!-- REACTs -->
    <script src="js/references/react.js"></script>
    <script src="js/references/react-dom.js"></script>


<!-- JQUERY-->
    <script src='js/references/jquery-2.1.4.min.js'> </script>

 <script src="js/references/browser.min.js"></script>


    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  	<link href='css/login.css' rel='stylesheet' type='text/css'>

</head>
<body>
<!-- 
	<form class='login' action='/login' method='POST'>
		<input type='text' name='username'>
		<input type='password' name='password'>
		<button type='submit'>Login</button>
	</form>
 -->


	
<!-- 		<div class="logo">AT&T Data Trending and Analysis Tools</div> -->
		<div id='login'></div>




<script src='js/components/login.js' type='text/babel'></script>
<script>

</script>
</body>
</html>
