<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report PDF | AT&T VLAD:MIR</title>
   
<!-- REACTs -->
    <script src="js/references/react.js"></script>
    <script src="js/references/react-dom.js"></script>



    <script src='js/references/d3.v3.min.js'></script>


<!-- JQUERY-->
    <script src='js/references/jquery-2.1.4.min.js'> </script>
 	<script src="js/references/browser.min.js"></script>
 	<script src="js/references/reportsGraph.js"></script>

    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/linegraph.css">
  	<link href='css/reportStyles.css' rel='stylesheet' type='text/css'>


</head>
<body>

   <!-- Navbar goes inside here. Called inside leftNav.js react class-->
  <div class="leftSide" id="leftSide">
  </div>


 <div class="rightSde">
		<div id='content'>



		</div>

</div>

<script src='js/components/leftNav.js' type='text/babel'></script>
<script src='js/components/Reports.js' type='text/babel'></script>
<script>

</script>
</body>
</html>
