<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup | AT&T VLAD:MIR</title>

<!-- REACTs -->
    <script src="js/references/react.js"></script>
    <script src="js/references/react-dom.js"></script>


<!-- JQUERY-->
    <script src='js/references/jquery-2.1.4.min.js'> </script>
    
 <script src="js/references/browser.min.js"></script>


    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  	<link href='css/login.css' rel='stylesheet' type='text/css'>

</head>
<body>
<!-- 
	<form class='login' action='/signup' method='POST'>
		User: <input type='text' name='username'>
		Password: <input type='password' name='password'>
		Email: <input type='text' name='email'>
		<button type='submit'>Signup</button>
	</form>
	 -->


	 <div id='signup'></div>


<script src='js/components/signup.js' type='text/babel'></script>
</body>
</html>
