

[type="radio"]:not(:checked), [type="radio"]:checked, .radio{
	visibility: visible;
	position: inherit;
	margin-right: 5px;
}

form ul li{
	display: inline;
	margin-left: 15px;
	margin-left: 15px;
}

.form-field{
	margin-bottom: 25px;
}

.bottom-line{
    border-bottom:  solid black;
}

.body{
	text-align: center;
}

.rightSide{
	margin-left:250px;


}